.app {
    text-align: center;
}

header {
    position: fixed;
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: royalblue;
    align-items: center;
    justify-content: space-between;
}

.brand {
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
}