.app {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid #f0f0f0;
}

header {
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: royalblue;
    align-items: center;
    justify-content: space-between;
}

main {
    padding: 2rem;
}

.brand {
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
}